
.about-page{
    display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .custom-dropdown {
    width: 90%;
    margin-left: 25%;
    .dropdown-title{
      width: 79%;
    }
    .dropdown-content {
      width: 70%;
      padding: 10px 10px 10px 10px;
  border-radius: 2px 2px 5px 5px;
}

    }
    .banner-container .banner-text {
      display: none;
    }
  }
  @media only screen and (min-width: 1337px) {
    .about-page .custom-dropdown .dropdown-content {
      width: 98.9%;
  }
  .about-page .custom-dropdown .dropdown-title {
    width: 100%;
  }
  .about-page .custom-dropdown {
    width: 91.5%;
    margin-left: 0%;
  }
}
  @media only screen and (max-width: 1334px) {
   .App{
    
   }
    .about-page .custom-dropdown{
      width: 91.5%;
    margin-left: 0%;
    }
    .about-page .custom-dropdown .dropdown-title{
      width: 100%;
    }
    .about-page .custom-dropdown .dropdown-content{
      font-size:  18px;
      width: auto;
      width: 98.5%;
    }
  
}
