html, body {
  height: 100%;
  margin: 0;
  font-size: 62.5%; 
}

.content-wrap {
  flex: 1; 
}

.App {
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  overflow-x: hidden; 
}

.App-logo {
  height: 20vmin; 
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (min-width:320px) and (max-width: 1334px)  {
  .App{
  padding-left: 20px;
  padding-right: 20px; 
  
  }
}
@media (max-width: 768px) { 
  .App-logo {
    height: 30vmin; 
  }
}

.App-link {
  color: #61dafb;
  font-size: 1.6rem; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}